{% extends '../base.html' %}

{% block content %}
<main>
    <h1>Receipt Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Category</th> 
                    <th>Number of Receipts</th> 
                </tr>
            </thead>
            <tbody>
                {% for receipt in categorylistcontext.items.all %}
                <tr>
                    <td>:)</td>
                    <td>{{ item.category }}</td>
                    <td>{{ receipt.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}