{% extends '../base.html' %}

{% block content %}
<main>
<h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th> <!--vendor name of the receipt-->
                <th>Total</th> <!-- total value from the receipt because we don't yet have tasks-->
                <th>Tax</th> <!-- tax value from the receipt-->
                <th>Date</th> <!--date value formatted as "m/d/YY"-->
                <th>Category</th> <!--name of the category for the receipt-->
                <th>Account</th> <!--name of the account for the receipt-->
            </tr>
        </thead>
        <tbody>
            {% for receipt in receiptlistcontext %}
            <tr>
                <td>{{ receipt.vendor }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.date }}</td>
                <td>{{ receipt.category }}</td>
                <td>{{ receipt.account }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}